# Don't bother with older versions
/lab1/
/lab2/
/lab3/

# Don't include documents
/docs/

# Don't upload files from Carver or Ruble
/carver/
/ruble/

# Don't upload test files
/test*
/lab4/test*

# Use .exe extension for executable files to prevent uploading them
# Don't upload executable files
*.exe

# Ignore .bak these are back-up files
*.bak
